@font-face {
    font-family: 'main_font';
    src: url(fonts/fonts/Skqatterpillur.ttf);
}
@font-face {
    font-family: 'sub_font';
    src: url(fonts/fonts/AOUWobbleText-Bold.ttf);
    font-style: bold;
}   

#small_tabbed_title {
    position: relative;
    tab-size: 50px;
    left: 28%;
}

#tabbed_title {
    position: relative;
    tab-size: 100px;
    font-size: 115%;
    left: 40%;
    bottom: 10px;
}

#end_page_pos{
    width: 600px;
    height: 300px;
    padding: 10px;
    margin-top: 400px;
}


.main_part {
    font-family:"main_font";
    color : rgb(228, 39, 127);
    font-size: 110%;
}

.important {
    font-family:"main_font";
    color : rgb(206, 20, 20);
    font-size: 105%;
}

.subtext {
    font-family:"sub_font";
    color : rgb(209, 102, 21);
    font-size: 120%;
}


.box {
    width: 700px;
    height: 230px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 60px;
    border: #ba0f70 5px dashed;
    border-radius: 10px;
}
.box2 {
    width: 700px;
    height: 170px;
    margin-top: 30px;
    margin-left: 60px;
    padding: 10px;
    border: #0fbab4 5px dashed;
    border-radius: 10px;
}

.underline {
    text-decoration:underline;
    color : rgb(209, 102, 21);
}
.bullet_point {
    font-size: 110%;
    margin : 8px;
}

.bottomnav {
    width: 100%;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(31, 37, 38);
}

.bottomnav a {
    color: #ded6d6;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(31, 37, 38);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.split {
    float:right;
    color:rgb(255, 255, 255);
    background-color: rgb(206, 9, 9);
}


header {
    position: sticky;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}
