@font-face {
    font-family: 'main_font';
    src: url(fonts/fonts/Skqatterpillur.ttf);
}
@font-face {
    font-family: 'sub_font';
    src: url(fonts/fonts/AOUWobbleText-Bold.ttf);
    font-style: bold;
}   
@keyframes zoom {
    0% {
        zoom: 100%;
    }
    100% {
        zoom: 105%;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(5deg);
    }
}
@keyframes rotate_360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes move {
    from {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(5px);
    }
}
@keyframes move_up {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2px);
    }
}
@keyframes diseaper {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes font_color {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#small_tabbed_title {
    position: relative;
    tab-size: 50px;
    left: 28%;
}

#tabbed_title {
    position: relative;
    tab-size: 100px;
    font-size: 115%;
    left: 40%;
    bottom: 10px;
}

#end_page_pos{
    width: 600px;
    height: 150px;
    padding: 10px;
    margin-top: 300px;
}

.input-box label {
    position: absolute; 
    left:171px;
    opacity: 100%;
    pointer-events: none;
    transition: 0.6s;
    transform: opacity(-50%);
}

.icon {
    padding-left: 50px;
    position:relative;
    width:30px;
    top:10px;
}

.look {
    position: relative;
    top:6px;
    right:30px;
    width:20px;
    height:20px;
    background-color: rgba(255, 255, 255, 0.3);
    border: rgb(0, 0, 0);
    border-radius: 5px;
}

.look:hover {
    transition-duration: 0.5s;
    background-color:rgba(77, 82, 77, 0.4);
}

#show_password_inactive:hover {
    cursor: pointer;
    content: url(https://icons.hackclub.com/api/icons/white/view);
}


#show_password_inactive{
    position: relative;
    width:20px;
    bottom:1px;
    right:6px;
    transition: 1s;
}

#show_password_active:hover {
    cursor: pointer;
    content: url(https://icons.hackclub.com/api/icons/white/private-fill);
}


#show_password_active{
    position: relative;
    width:20px;
    bottom:1px;
    right:6px;
    transition: 1s;
}


input:placeholder-shown ~ label {
opacity:100%;
}

.input-box input:focus ~label,
input:not(:placeholder-shown) ~ label {
    opacity:0%;
}

.input-box input {
    width:165px; 
    height:25px;
    background-color: rgba(255, 255, 255, 0.679);
    border: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-family: "sub_font";
    font-size: 80%;
    color: grey;
    padding: 0 35px 0 5px;
}

.input-box input look {
    width:15px; 
    background-color: rgba(255, 255, 255, 0.679);
    border: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-family: "sub_font";
    font-size: 80%;
    color: grey;
    padding: 0 35px 0 5px;
}

.remember-forgot label input{
    accent-color: rgb(210, 15, 15);
}

.wrapper a {
    text-decoration: none;
}

.wrapper a:hover {
    text-decoration: underline;
}

.btn {
    position: absolute;
    background-color: grey;
    right:130px;
    top:230px;
    height:35px;
    width:80px;
    border: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: .8s;
}

.btn:hover {
    animation: move_up 1s forwards;
    cursor: pointer;
    color:#df0b0b;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}
.btn2:hover {
    animation: move_up 1s forwards;
    cursor: pointer;
    color:#df0b0b;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.btn2 {
    position: absolute;
    background-color: grey;
    right:130px;
    top:250px;
    height:35px;
    width:80px;
    border: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    transition: .8s;
}

.wrapper {
    font-family: "sub_font";
    
    position : relative;
    width:400px;
    height:370px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    backdrop-filter: blur(300px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    margin: 30px;
    padding: 20px;
    padding-left: 80px;
    display: flex;
    margin-left:auto;
    margin-right:auto;
}

.link{
    color: #df0b0b;
    font-size: 90%;
}
.gradient_anim {
    animation: font_color 2s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_part {
    font-family:"main_font";
    color : rgb(228, 39, 127);
    font-size: 110%;
}

.important {
    font-family:"main_font";
    color : rgb(206, 20, 20);
    font-size: 105%;
}

.subtext {
    font-family:"sub_font";
    color : rgb(209, 102, 21);
    font-size: 120%;
}

.small_box {
    width: 700px;
    height: 400px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 60px;
}

.box {
    width: 720px;
    height: 230px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 60px;
    border: #ba0f70 5px dashed;
    border-radius: 10px;
}
.box2 {
    width: 700px;
    height: 170px;
    margin-top: 30px;
    margin-left: 60px;
    padding: 10px;
    border: #ff3c2a 5px dashed;
    border-radius: 10px;
}
.box3 {
    font-style: italic;
    width: 700px;
    height: 184px;
    margin-top: 30px;
    margin-left: 80px;
    padding: 10px;
    padding-left: 40px;
    border: #606a69 5px dashed;
    border-radius: 10px;
}

.underline {
    text-decoration:underline;
    color : rgb(209, 102, 21);
}
.bullet_point {
    font-size: 110%;
    margin : 8px;
}

.bottomnav {
    width: 100%;
    height: 50px;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(31, 37, 38);
}

.bottomnav a {
    color: #ded6d6;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav {
    overflow: hidden;
    background-color: rgb(31, 37, 38);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: 0.5s;
}

.topnav a:hover {
    animation: rotate reverse 0.5s;
    color: rgb(206, 9, 9);
    background-color: rgb(26, 32, 33);
    font-size: 19px;
}

/*.topnav a:active {
    transition: 0.5s;
    color: rgb(31, 37, 38);
    background-color: #f2f2f2;
    font-size: 19px;
}*/

.topnav a.split {
    float:right;
    color:rgb(255, 255, 255);
}
.topnav a.split_log:hover {
    animation: zoom 1s;
    animation-fill-mode: forwards;  
    color: rgb(206, 9, 9);
    background-color: rgb(26, 32, 33);
    font-size: 19px;
}
.topnav a.split_log {
    float:right;
    color:rgb(255, 255, 255);
    background-color: rgb(206, 9, 9);
}

.color_bar {
    padding: 70px 0;
    height: 50px;
    background: rgb(23, 28, 29);
}

.move_up_down{
    animation: move 1.5s infinite alternate;
}



header {
    position: sticky;
}

body {
    min-height: 100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
}

html {
    background: url(img/background.svg) no-repeat center center; 
    background-size: cover;
}